In [1]:
4 > 3

True

In [2]:
4 < 3

False

In [3]:
x = 10

In [5]:
if x > 20 and x<= 30:
    print("20 > x >30")
elif x > 30 and x <=40:
    print("30 > x >= 40")
else:
    print("x > 40")

x > 40

In [6]:
age = 35

In [7]:
print(f"my age is : {age}") #formatted string

my age is : 35

In [8]:
myList = [10,20,30,40,50,60]

In [9]:
for number in myList:
    print(number / 2 * 3)

15.0
30.0
45.0
60.0
75.0
90.0

In [10]:
40 in myList

True

In [11]:
"a" in "metallica"

True

In [12]:
m = 0

In [15]:
while m < 10:
    print(m)
    m += 1

0
1
2
3
4
5
6
7
8
9